@font-face {
  font-family: 'Relative-Book';
  src:  url('fonts/Relative-Book.woff2') format('woff2'),
        url('fonts/Relative-Book.woff') format('woff'),
				url('fonts/Relative-Book.tff') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Relative-Medium';
  src:  url('fonts/Relative-Medium.woff2') format('woff2'),
        url('fonts/Relative-Medium.woff') format('woff'),
				url('fonts/Relative-Medium.tff') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Relative-Bold';
  src:  url('fonts/Relative-Bold.woff2') format('woff2'),
        url('fonts/Relative-Bold.woff') format('woff'),
				url('fonts/Relative-Bold.tff') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'Relative-12Pitch';
  src:  url('fonts/Relative-12Pitch.woff2') format('woff2'),
        url('fonts/Relative-12Pitch.woff') format('woff'),
				url('fonts/Relative-12Pitch.tff') format('truetype');
	font-weight: normal;
	font-style: normal;
}


:root {

	/*	Core colors */

	--background: rgba(241, 255, 219, 1);
	--primary: rgba(31, 121, 204, 1);
	--primary-2: rgba(31, 121, 204, 0.7);
	--primary-3: rgba(31, 121, 204, 0.4);
	--primary-4: rgba(31, 121, 204, 0.12);

	/*	Tag colors */

	--red: rgba(255, 166, 138, 1);
	--white: rgba(196, 205, 169, 0.5);
	--rose: rgba(255, 185, 185, 1);
	--orange: rgba(243, 206, 134, 1);
	--sparkling: rgba(168, 207, 224, 1);

	--red-hover: rgba(255, 166, 138, 0.5);
	--white-hover: rgba(196, 205, 169, 0.25);
	--rose-hover: rgba(255, 185, 185, 0.5);
	--orange-hover: rgba(243, 206, 134, 0.5);
	--sparkling-hover: rgba(168, 207, 224, 0.5);

	/*	Font stacks */
	--regular: 'Relative-Book';
	--bold: 'Relative-Bold';
	--mono: 'Relative-12Pitch';
	/* --regular: 'Relative-Book', -apple-system, BlinkMacSystemFont, 'Inter', "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */


	/*	Font size */
	--body: 16px;
	--small: 0.875rem;
	--body-mobile: 18px;

}



/* CSS Reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: var(--body);
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-size: var(--body);
	color: var(--primary);
	font-family: var(--regular);
}

input {
	line-height: 1;
	font-size: var(--body);
	color: var(--primary);
	font-family: var(--regular);
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* Inter font setup */

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}




/* Responsive style rules */

@media only screen and (max-width: 800px) {

	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed,
	figure, figcaption, footer, header, hgroup,
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video, body, input {
		font-size: var(--body-mobile);
	}

  #sidebar {
		width: calc(100% - 16px)!important;
		padding: 0px 16px 16px !important;
		/* overflow-y: hidden !important; */
		z-index: 2000 !important;
		display: none;
		margin-top: 0px;
  }

	#mainContent {
		margin: 0px 16px 32px !important;
	}

	#grid {
		margin-top: 72px !important;
		grid-gap: 16px !important;
	}

	#grid > article img {
		height: 40vw !important;
	}

	article {
		padding-bottom: 1rem !important;
		margin-bottom: 0px !important;
	}

	#navWrapper {
		height: 72px !important;
		background-color: var(--background) !important;
		position:fixed !important;
		z-index:1000 !important;
		width:100% !important;
		top:0px !important;
	}

	#topButton {
	  width: 64px !important;
	  height: 64px !important;
		bottom: 50px !important;
		right: 50% !important;
		margin-right: -32px!important; /* Negative half of width. */
	}

	#topButton::after {
	  font-size: 2.5rem !important;
	  line-height: 64px !important;
	}

	.searchIcon {
	  top: 12px !important;
		left: 14px !important;
	}

	#searchWrapper {
		top:0px;
		position:fixed !important;
		margin-top:16px!important;
		width: calc(100% - 80px) !important;
		height:40px;
	}


	/* Style the hamburger menu */
	a.navButton {
	  display: block;
	  position: fixed;
	  right: 16px;
	  top: 16px;
		height:auto;
		width:auto;
		padding:4px;
	}

	/* Add a grey background color on mouse-over */
	a:hover {
	  color: black;
	}

	/* Style the active link (or home/logo) */
	.active {
	  color: white;
	}

	#logo {
		display:none;
	}

	#tagline {
		display:none;
	}

	#navWrapper svg {
		display:block!important;
	}

	#sidebar svg {
		display:block!important;
	}

	#sidebar h1 {
		display:block!important;
	}

	ul#typeFilter li label {
		padding: 9px 16px !important;
	}

	.container {
		line-height: 24px !important;
		padding-left: 36px !important;
	}

	.checkmark {
		height: 24px !important;
		width: 24px !important;
	}

	.container input {
		line-height: 24px !important;
	}

	.container .checkmark:after {
		left: 8px !important;
		top: 2px !important;
		width: 6px !important;
		height: 12px !important;
		border-width: 0 2px 2px 0 !important;
	}

	article > .tag {
		padding: 0 8px !important;
		height: 20px !important;
		line-height:20px !important;
	}

	#search {
		  padding: 8px 38px 8px 38px !important;
	}

	#resultsButton {
		display:block!important;
	}


	#filters {
		width: calc(100% - 72px);
	}

	#credits {
		margin-bottom:100px!important;
	}


}



@media (pointer:fine) {

	ul#typeFilter li input[value="orange"]:hover + label {
	  background-color: var(--orange-hover);
	}
	ul#typeFilter li input[value="rose"]:hover + label {
	  background-color: var(--rose-hover);
	}
	ul#typeFilter li input[value="red"]:hover + label {
	  background-color: var(--red-hover);
	}
	ul#typeFilter li input[value="white"]:hover + label {
	  background-color: var(--white-hover);
	}
	ul#typeFilter li input[value="sparkling"]:hover + label {
	  background-color: var(--sparkling-hover);
	}

}



/* @media only screen and (max-devide-width: 400px) and (-webkit-device-pixel-ratio: 3){
	.sidebar {
    display:none!important;
  }
	.content {
		margin-left: 16px!important;
		margin-right: 16px!important;
		margin-top: 16px!important;
		grid-gap: 16px!important;
		margin-bottom: 32px!important;
	}
	.content > article img {
	height: 35vw !important;
	}

	article {
		padding-bottom:8px!important;
		margin-bottom:0px!important;
	}
}

@media only screen and (device-width: 375px)
    and (device-height: 812px)
    and (-webkit-device-pixel-ratio: 3){
			.sidebar {
		    display:none!important;
		  }
			.content {
				margin-left: 16px!important;
				margin-right: 16px!important;
				margin-top: 16px!important;
				grid-gap: 16px!important;
				margin-bottom: 32px!important;
			}
			.content > article img {
			height: 35vw !important;
			}

			article {
				padding-bottom:8px!important;
				margin-bottom:0px!important;
			}
} */



/* General styles */

#resultsButton {
	position:fixed;
	bottom:26px;
	background-color: var(--primary-2);
	padding: 16px 20px;
	width: calc(100% - 72px);
	color: #fff;
	text-align:center;
	border-radius: 100px;
	display:none;
}

h1 {
	font-size:1.333rem;
	font-weight:500;
}

#sidebar h1 {
	display:none;
	margin-top:24px;
}

#navWrapper svg {
	display:none;
	width:32px;
	height:32px;
	color: var(--primary);
}

#sidebar svg {
	display:none;
	width:32px;
	height:32px;
	color: var(--primary) !important;
}

body {
  padding: 0;
  margin: 0;
	/* background-color: #EFECE5; */
	background-color: var(--background);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h3 {
	font-family: var(--bold);
	/* font-size:0.9333rem; */
	font-weight:normal;
	padding-bottom:12px;
}

a {
	text-decoration: none;
	color: var(--primary);
}

a img {
	cursor:pointer;
}

a:visited {
		color: var(--primary);
}


/* Main page */

#mainContent {
	width: auto;
	margin-left: 320px;
	margin-right: 40px;
	margin-top:32px;
	margin-bottom:61px;
}

#grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
	grid-gap: 40px;
	align-items: stretch;
	width: auto;
	overflow:hidden;
}



/* Wine card styles */

article {
	position:Relative;
}


article img {
	max-width: 100%;
	border-radius:8px;
	width: 100%;
	height: 20vw;
	object-fit: cover;
	max-height:280px
}

#grid img:hover {
	box-shadow:0px 3px 8px 0 rgba(0,0,0,0.1);
}

.text {
	margin-top:.8rem;
}

.title {
	font-family: var(--bold);
	margin-bottom: 0.4rem;
	line-height: 1.2rem;
}

.store {
	color: var(--primary-2);
	font-size: var(--small);
	margin-bottom:0.54rem;
}

.price {
	font-family: var(--mono);
	/* font-size:0.9333rem; */
}


/* Wine card type tag styles */

article > .tag {
	top:12px!important;
	left:12px!important;
	position:absolute!important;
	background-color: var(--primary-4);
	font-size: var(--small);
	height: 18px;
	line-height: 18px;
	padding: 0 6px;
	font-family: var(--mono);
	border-radius: 100px;
	display: inline-block;
	margin: 0 8px 8px 0;
	cursor: pointer;
}

article.red  > div.tag {
  background:rgba(255,159,129,1)!important;
}

article.white  > div.tag{
  background:rgba(255,251,240,1)!important;
}

article.rose > div.tag{
  background:rgba(255,185,185,1)!important;
}

article.orange > div.tag {
  background:rgba(243,206,134,1)!important;
}

article.sparkling  > div.tag {
  background:rgba(186,220,245,1)!important;
}




/* Style the search bar */

#searchWrapper {
  position: relative;
  display: flex;
  min-width: 100px;
	margin-bottom:32px;
}

#search {
  border: none;
  border-radius: 100px;
  width: 100%;
  padding: 8px 32px 8px 32px;
  outline: 0;
	background: var(--primary-4);
	color: var(--primary);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--primary-2);
  opacity: 1; /* Firefox */
}

.searchIcon {
  position: absolute;
  top: 8px;
  left: 10px;
  width: 15px;
	height:16px;
	color: var(--primary-2)!important;
}

.clearIcon {
  position: absolute;
  top: 9px;
  right: 8px;
  width: 12px;
  cursor: pointer;
  visibility: hidden;
}

input {
	line-height: 16px;
	color: var(--primary);
	font-family: var(--regular);
}

.search:hover, .search:focus {
  /* border: 1px solid #009688; */
  /* background-color: white; */
}






/* Sidebar styles */

#sidebar {
	height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
	bottom: 0;
  overflow-x: hidden;
	overflow-y: auto;
	float: left;
	padding-left:40px;
	padding-right:40px;
	background-color: var(--background);
}

#logo {
	max-width:130px;
	/* height:31px; */
	margin-bottom:24px;
	margin-top:32px;
}

#tagline {
	/* font-family: var(--mono); */
	/* font-size: 0.9333rem; */
	color: var(--primary-2);
	line-height: 160%;
}

.emojis {
	font-family: var(--regular);
	color: rgba(0,0,0,1);
}

#credits {
	font-family: var(--mono);
	color: var(--primary-2);
	margin-top:32px;
	margin-bottom:32px;
	/* height:100%; */
	/* bottom: 32px; */
	/* position:fixed; */
}

#credits p {
	padding-bottom:6px;
	font-size: var(--small);
}

#credits a {
	color: var(--primary-2);
	text-decoration: underline;
	font-size: var(--small);
}




/* Styles for filters */

#filters div {
	margin-top:32px;
}


/* Styles for checkbox filters */


/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 26px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
	line-height: 16px;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
	border: solid;
	border-color: var(--primary-3);
	border-width: 2px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
		border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: var(--primary);
	border:none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 2px;
  width: 4px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}




/* Styles for wine type filter */

ul#typeFilter {
  list-style: none;
	font-family: var(--mono);
}

ul#typeFilter li{
  display: inline;
}

ul#typeFilter li label{
  display: inline-block;
  border-radius: 25px;
  white-space: nowrap;
  margin: 5px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  /* transition: all .2s; */
	font-size: var(--body);
	padding: 4px 8px;
	cursor: pointer;
	background-color: var(--primary-4);

}

ul#typeFilter li input[type="checkbox"]:checked + label {
  /* transition: all .2s; */
}

ul#typeFilter li input[type="checkbox"] {
  display: absolute;
  position: absolute;
  opacity: 0;
}


/* Color styles for individual wine type filters */


ul#typeFilter li input[value="orange"]:checked + label {
  background-color: var(--orange);
}
ul#typeFilter li input[value="rose"]:checked + label {
  background-color: var(--rose);
}
ul#typeFilter li input[value="red"]:checked + label {
  background-color: var(--red);
}
ul#typeFilter li input[value="white"]:checked + label {
  background-color: var(--white);
}
ul#typeFilter li input[value="sparkling"]:checked + label {
  background-color: var(--sparkling);
}


/* Scroll to top button */

#topButton {
  display: inline-block;
	background-color:#fff;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 100px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#topButton::after {
  content: "\261D";
  font-weight: normal;
  font-style: normal;
  font-size: 2rem;
  line-height: 50px;
	color: var(--primary-2);
}

#topButton:hover {
  cursor: pointer;
	/* background-color: rgba(222,219,213,1); */
}

#topButton:active {
	/* background-color: rgba(222,219,213,1); */
}

#topButton.show {
  opacity: 1;
  visibility: visible;
}
