/*----------------------------------------------------*/
/*  Import fonts                                      */
/*----------------------------------------------------*/


/*	Relative */

@font-face {
  font-family: 'Gopher';
  src:  url('../fonts/Gopher-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
  font-family: 'Gopher';
  src:  url('../fonts/Gopher-LightItalic.woff2') format('woff2');
	font-weight: 300;
	font-style: italic;
}
@font-face {
  font-family: 'Gopher';
  src:  url('../fonts/Gopher-Light.woff2') format('woff2');
	font-weight: 300;
	font-style: normal;
}
@font-face {
  font-family: 'Courier Prime Sans';
  src:  url('../fonts/courier_prime_sans-webfont.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
  font-family: 'Baton Web';
  src:  url('../fonts/BatonWeb-RegularItalic.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
}
@font-face {
  font-family: 'Baton Web';
  src:  url('../fonts/BatonWeb-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}




/*----------------------------------------------------*/
/*  Variables                                         */
/*----------------------------------------------------*/


:root {
	
	/*	Font size */
	--body: 1rem;
	--small: 0.875rem;

	/*	Font stacks */
	--fallback: -apple-system, BlinkMacSystemFont, 'Inter', "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--regular: 'Gopher', var(--fallback);
	--mono: 'Courier Prime Sans', var(--fallback);
	--display: 'Baton Web', var(--fallback);

}



/*----------------------------------------------------*/
/*  Styles                                            */
/*----------------------------------------------------*/


/* Core styles */

body {
	font-family: var(--mono);
	font-size: var(--body);
	-webkit-font-smoothing: antialiased;
}

h3 {
	font-family: var(--regular);
	font-size: var(--body);
	font-weight: normal;
/*	text-transform: uppercase;*/
}


/* Wine card styles */

article .name {
	font-family: var(--display);
	text-transform: uppercase;
	font-size: 1.4em;
}

article .price {
	font-family: var(--mono);
}

article > .type {
	font-family: var(--mono);
	font-size: var(--small);
	line-height: 1.125rem;
}

article .name {
	line-height: 1.2rem;
}

article .store {
	font-size: var(--small);
}


/*  Button Filters  */

 .buttonFilter label {
	font-family: var(--mono);
} 


/*  Credits  */

.credits {
	font-size: var(--small);
}

.credits a {
	text-decoration: underline;
}


/*  Credits  */

.tagline {
	line-height: 1.6rem;
}
