:root {

	color-scheme: light dark;

	/*	Core color values */
	--core-black-value: 91, 66, 43;
/*	--core-black-value: 38, 38, 38;*/
/*	--core-white-value: 236, 231, 219;*/
	--core-white-value: 240, 235, 224;

	/*	Accent colors */
	--white: rgba(227, 218, 186, 0.95);
	--pink: rgba(255, 185, 185, 0.95);
	--red: rgba(255, 166, 138, 0.95);
	--orange: rgba(243, 206, 134, 0.95);
	--green: rgba(164, 219, 173, 0.95);
	--blue: rgba(168, 207, 224, 0.95);
	--violet: rgba(212, 188, 232, 0.95);

	/*	Accent colors - alpha */
	--white-alpha: rgba(227, 218, 186, 0.5);
	--pink-alpha: rgba(255, 185, 185, 0.5);
	--red-alpha: rgba(255, 166, 138, 0.5);
	--orange-alpha: rgba(243, 206, 134, 0.5);
	--green-alpha: rgba(164, 219, 173, 0.5);
	--blue-alpha: rgba(168, 207, 224, 0.5);
	--violet-alpha: rgba(212, 188, 232, 0.5);

}


/* Light color scheme */

@media screen and (prefers-color-scheme: light) {

	:root {

		/*	Core color values */
		--background-value: var(--core-white-value);
		--foreground-value: var(--core-black-value);

		/*	Core colors */
		--background: rgb(var(--background-value));
		--foreground: rgb(var(--foreground-value));
		--foreground-2: rgba(var(--foreground-value), 0.7);
		--foreground-3: rgba(var(--foreground-value), 0.4);
		--foreground-4: rgba(var(--foreground-value), 0.2);
		--foreground-5: rgba(var(--foreground-value), 0.13);
		--foreground-6: rgba(var(--foreground-value), 0.095);

		/*	Other colors */
		--type-text: var(--foreground);
		--image-background: rgb(245 243 237);
		--shadow: rgba(55, 45, 36, 0.1);
		--shadow-value: 55, 45, 36;

		/*	SVG elements */
		--x-mark: url('/assets/svgs/x-mark-outline-light.svg');
		--search: url('/assets/svgs/search-light.svg');

	}

}

/* Dark color scheme */

@media screen and (prefers-color-scheme: dark) {

	:root {

		/*	Core color values */
		--core-black-value: 43, 40, 37;
		--background-value: var(--core-black-value);
		--foreground-value: var(--core-white-value);

		/*	Core colors */
		--background: rgb(var(--background-value));
		--foreground: rgb(var(--foreground-value));
		--foreground-2: rgba(var(--foreground-value), 0.6);
		--foreground-3: rgba(var(--foreground-value), 0.3);
		--foreground-4: rgba(var(--foreground-value), 0.2);
		--foreground-5: rgba(var(--foreground-value), 0.10);
		--foreground-6: rgba(var(--foreground-value), 0.08);

		/*	Other colors */
		--type-text: var(--background);
		--image-background: var(--foreground);
		--shadow: rgba(0, 0, 0, 0.3);

		/*	SVG elements */
		--x-mark: url('/assets/svgs/x-mark-outline-dark.svg');
		--search: url('/assets/svgs/search-dark.svg');

	}

}