/*	Matter */

@font-face {
  font-family: 'Matter';
  src:  url('../fonts/Matter-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
  font-family: 'Matter';
  src:  url('../fonts/Matter-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

/* Cooper */

@font-face {
  font-family: 'Cooper';
  src:  url('../fonts/CooperBTLight.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}