/* Checkbox filters */

.checkboxFilter { 

	.collapsible-content {

		/*> * {
			margin-top: var(--space-2xs)
		}*/

		/*> *:first-of-type {
			margin-top: var(--space-xs)
		}

		> *:last-of-type, > * ~ .undefined {
			margin-bottom: var(--space-xs)
		}*/

		& label {
			/*display: flex;
			flex-direction: row;
			justify-content: center;*/
			align-items: center;
			cursor: pointer;
			display: block;
			padding-block-start: 0.01em;
			padding-inline-start: 1.475em;
			position: relative;
			user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-webkit-user-select: none;
			height: 1em;

			margin-block-start: var(--space-2xs);

			/* Hide checkbox filter for 'undefined' labels */
			&.undefined, &.null {
				display: none;
			}
			/* &:has(> input[value="undefined"]) {
				display: none;
			} */

			&:first-of-type {
				margin-block-start: var(--space-xs);
			}

			&:last-of-type:not(.undefined, .null), &:nth-last-child(2):not(.storeContainer *) {
				margin-block-end: var(--space-4xs);
			}
		}

		/*@media only screen and (min-width: 1112px) {
			& label {
				padding-top: 0.0925em;
			}
		}*/

		/* Hide the browser's default checkbox */
		& input {
			cursor: pointer;
			height: 0;
			opacity: 0;
			position: absolute;
			width: 0;
		}

		/* Create a custom checkbox */
		.checkmark {
			position: absolute;
			height: 1em;
			width: 1em;
			left: 0;
			top: 0;
			border: solid;
			border-radius: 0.25rem;
			border-width: var(--border-width);
			box-sizing: border-box;
			-moz-box-sizing: border-box;
			-webkit-box-sizing: border-box;
			transition-duration: 0.3s;
			transition-property: border-color, background-color;
	/*		margin: 1px 0;*/
			border-color: var(--border-color);

			/*&:hover {
				border-color: var(--foreground-2);
			}*/

			/* Style the checkmark/indicator */
			&:after {
				content: "";
				display: none;
				position: absolute;
				border: solid;
				border-color: var(--background);
				border-width: 0 var(--border-width) var(--border-width) 0;
				height: 0.625em;
				width: 0.373em;
				left: 0.3em;
				top: 0.06em;
				transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
				-ms-transform: rotate(45deg);
				transition: 0.3s;
			}

			&:is(input:checked ~ *) {
				border: none;
				background-color: var(--foreground);
				&:after {
					display: block;
				}
			}
		}
	}
}

@media (any-hover: hover) {
	.checkboxFilter .collapsible-content  .checkmark:hover {
		border-color: var(--foreground-2);
	}
}

@media only screen and (max-width: 1112px) {
	.checkboxFilter .collapsible-content label {
		&:last-of-type:not(.undefined), &:nth-last-child(2):not(.storeContainer *) {
			margin-block-end: var(--space-3xs);
		}
	}
}


@media only screen and (max-width: 1112px) {
	.checkboxFilter .collapsible-content {
		> * + * {
			margin-block-start: var(--space-xs)
		}
		& label {
			height: 1.4em;
			padding: 0 0 0.125em 0;
/*			padding: 0.2em 0 0.125em 0em;*/
/*			padding: 0.4em 0 0.3em 0em;*/
			display: flex;
			justify-content: space-between;
			flex-direction: row;
/*			line-height: 1.4rem;*/
/*			margin-bottom: var(--space-1-5);*/
/*			padding: var(--space-2) 0 var(--space-2) var(--space-8);*/
		}
		.checkmark {
			height: 1.25em;
			width: 1.25em;
			right: var(--space-4xs);
			left: unset;
			&:after {
				height: 0.9rem;
				width: 0.5rem;
				left: 0.45rem;
				top: 0.097rem;
				border-width: 0 2px 2px 0;
			}
		}
	}
}

/* Hide wine makers from list that don't have many wines available */
/* .makerContainer .collapsible-content label {
	&.Abbondanza,
	&.Absentee,
	&.Accenti,
	&.Acri,
	&.Adelante,
	&.Amevive,
	&.Ampeleia,
	&.Apeleia,
	&.Artesano,
	&.Augur,
	&.Baccanti,
	&.Barolo,
	&.Bernardi,
	&.Borachio,
	&.Camuna,
	&.Clarine,
	&.Diamanti,
	&.Donkey,
	&.Flavia,
	&.Hannes,
	&.Inizi,
	&.Jacky,
	&.Lauria,
	&.Lieu,
	&.Limus,
	&.Liquiere,
	&.Negro,
	&.Nus,
	&.Odyssée,
	&.Primitivus,
	&.Rabasco,
	&.Rarefratte,
	&.Riccitelli,
	&.Roussely,
	&.Santamaria,
	&.Scala,
	&.Science,
	&.Sete,
	&.Silvio,
	&.Southhold,
	&.Straka,
	&.Tetes,
	&.Ultraviolet,
	&.Umathum,
	&.Viola,
	&.Wohlgemuthheim,
	&.Wonderwall,
	&.Yetti,
	&.zzz {
		display: none;
	}
	&.null {
		display: block;
	}
} */


/* Hide wine makers from list that don't have many wines available */
.makerContainer .collapsible-content label:not(
	.Amplify,
	.Angeleno,
	.Science,
	.Ashanta,
	.Azul,
	.Bichi,
	.Bojo,
	.Broc,
	.Buddy,
	.Canetta,
	.Giardino,
	.Indigeno,
	.Cirelli,
	.Costadilà,
	.Levende,
	.Delinquente,
	.Punx,
	.Majas,
	.Echeverria,
	.Ercole,
	.Es,
	.Recordings,
	.Florez,
	.Machine,
	.Folktale,
	.Forlorn,
	.Furlani,
	.Gatto,
	.Gearhead,
	.Gentle,
	.Glinavos,
	.Boy,
	.Gotsa,
	.Oggau,
	.Farneto,
	.Vinco,
	.Iruai,
	.Brix,
	.Bleeke,
	.Jolie-Laide,
	.Jumbo,
	.Jumping,
	.Kindeli,
	.Koppitsch,
	.Lunotte,
	.Patience,
	.Jaras,
	.Coste,
	.Equilibristes,
	.Lunes,
	.Addition,
	.Lo-Fi,
	.River,
	.Bevilacqua,
	.Lumina,
	.Mae,
	.Marigny,
	.Stoumen,
	.Matic,
	.Barret,
	.Meinklang,
	.Mersel,
	.Nestarec,
	.Beverage,
	.Notre,
	.World,
	.Papras,
	.Pielihueso,
	.Pirouettes,
	.Pollerhof,
	.Populis,
	.Purity,
	.Raimones,
	.Richvale,
	.Ruth,
	.Sassara,
	.Schlossmuhlenhof,
	.Schweizer,
	.Scotty,
	.Far,
	.Stolpman,
	.Change,
	.Real,
	.Swick,
	.Tenuta,
	.Teutonic,
	.Marker,
	.Sacre,
	.Forgues,
	.California,
	.Pijoan,
	.Viteadovest,
	.Vivanterre,
	.Wavy,
	.Weingut,
	.Weninger, 
	.Wenzel,
	.Arc,
	.Wonderwerk,
	.Yetti,
	.Ziniel,
	.Zumo,
	.zzzzz
	) {
	display: none;
}


/* .makerContainer .collapsible-content label.null {
	display: block;
} */