/*----------------------------------------------------*/
/*  Variables                                         */
/*----------------------------------------------------*/


:root,
:root[data-force-color-mode="light"] {

	color-scheme: light dark;

	/*	Core colors */
	--primary-value: 91, 66, 43;
	--background: rgba(236, 231, 219, 1);

	/*	Primary shades */
	--primary: rgb(var(--primary-value));
	--primary-2: rgba(var(--primary-value), 0.7);
	--primary-3: rgba(var(--primary-value), 0.4);
	--primary-4: rgba(var(--primary-value), 0.2);
	--primary-5: rgba(var(--primary-value), 0.1);
	--primary-6: rgba(var(--primary-value), 0.08);

	/*	Other colors */
	--type-text: var(--primary);
	--shadow: rgba(55, 45, 36, 0.2);

	/*	Type color values */
	--red-value: 255, 166, 138;
	--white-value: 227, 218, 186;
	--rose-value: 255, 185, 185;
	--orange-value: 243, 206, 134;
	--sparkling-value: 168, 207, 224;
  --piquette-value: 212, 188, 232;
  --co-fermented-value: 164, 219, 173;

	/*	Tag background colors */
	--red: rgb(var(--red-value));
	--white: rgb(var(--white-value));
	--rose: rgb(var(--rose-value));
	--orange: rgb(var(--orange-value));
	--sparkling: rgb(var(--sparkling-value));
  --piquette: rgb(var(--piquette-value));
  --co-fermented: rgb(var(--co-fermented-value));

	/*	Tag hover colors */
	--red-hover: rgba(var(--red-value), 0.5);
	--white-hover: rgba(var(--white-value), 0.5);
	--rose-hover: rgba(var(--rose-value), 0.5);
	--orange-hover: rgba(var(--orange-value), 0.5);
	--sparkling-hover: rgba(var(--sparkling-value), 0.5);
  --piquette-hover: rgba(var(--piquette-value), 0.5);
  --co-fermented-hover: rgba(var(--co-fermented-value), 0.5);

}

/* Dark Color Scheme */
@media (prefers-color-scheme: dark) {
	:root {
		--background: rgb(43, 40, 37);
		--primary-value: 236, 231, 219;
		--type-text: var(--background);
		--shadow: rgba(0, 0, 0, 0.3);
	}
	.search::-webkit-search-cancel-button{
		background-image: url('/assets/svgs/x-mark-outline-dark.svg');
	}
}
:root[data-force-color-mode="dark"] {
	--background: rgb(43, 40, 37);
	--primary-value: 236, 231, 219;
	--type-text: var(--background);
	--shadow: rgba(0, 0, 0, 0.2);
}



/*----------------------------------------------------*/
/*  Core styles                                       */
/*----------------------------------------------------*/

html {
	background-color: var(--background);
}

body {
  background-color: var(--background);
	color: var(--primary);
}

nav {
	background-color: var(--background);
}



/*----------------------------------------------------*/
/*  Main/grid styles                                  */
/*----------------------------------------------------*/


/*	Pagination */

.pagination li {
  /* background-color: var(--primary-5); */
	border-color: var(--primary-3);
}

.pagination li:hover {
  /* background-color: var(--primary-3); */
	border-color: var(--primary-2);
}

.pagination li.active {
  background-color: var(--primary);
	color: var(--background);
}

.pagination li.active:hover {
  background-color: var(--primary);
	color: var(--background);
}



/*----------------------------------------------------*/
/*  Wine card styles                                  */
/*----------------------------------------------------*/


article > a {
	background: var(--primary-6);
}

article > a:hover {
	box-shadow: 0 0.188rem 0.5rem 0 var(--shadow);
}

/*	Style the placeholder image */
article svg {
	fill: var(--primary-4);
}

article .store {
	color: var(--primary-2);
}

article > .type {
	background-color: var(--primary-5);
	color: var(--type-text);
}


/*	Style type tags */

article.red  > div.type {
  background-color: var(--red)!important;
}

article.white  > div.type{
  background-color: var(--white)!important;
}

article.rose > div.type{
  background-color: var(--rose)!important;
}

article.orange > div.type {
  background-color: var(--orange)!important;
}

article.sparkling  > div.type {
  background-color: var(--sparkling)!important;
}

article.piquette  > div.type {
  background-color: var(--piquette)!important;
}

article.co-fermented  > div.type {
  background-color: var(--co-fermented)!important;
}



/*----------------------------------------------------*/
/*  Sidebar styles                                    */
/*----------------------------------------------------*/


.logo svg {
	fill: var(--primary);
}

h2 {
	color: var(--primary);
}

.credits {
	color: var(--primary-2);
}

.mobileButtons svg {
	stroke: var(--primary);
}

.resultsButton {
	background-color: var(--primary);
	color: var(--background);
}


/*	Text Input & Select */

.search {
	/* background-color: var(--primary-5); */
	color: var(--primary);
	background-color: var(--background);
	border-color: var(--primary-3);
}

.search:hover, .search:focus {
	border-color: var(--primary-2) !important;
}

::placeholder {
  color: var(--primary-2);
}

select {
	background: none;
	color: var(--primary);
}

/*	Chekbox Filters */

.checkmark {
	border-color: var(--primary-3);
}

.checkmark:hover {
	border-color: var(--primary-2);
}

.checkboxFilter input:checked ~ .checkmark {
  background-color: var(--primary);
}

.checkboxFilter .checkmark:after {
	border-color: var(--background);
}


/*  Button Filters  */

 .buttonFilter label {
	background-color: var(--primary-5);
}

.buttonFilter input:checked + label {
  color: var(--type-text);
}

/* Styles for individual wine type filters */

.buttonFilter input[value="Orange"]:checked + label {
  background-color: var(--orange);
}
.buttonFilter input[value="Rosé"]:checked + label {
  background-color: var(--rose);
}
.buttonFilter input[value="Red"]:checked + label {
  background-color: var(--red);
}
.buttonFilter input[value="White"]:checked + label {
  background-color: var(--white);
}
.buttonFilter input[value="Sparkling"]:checked + label {
  background-color: var(--sparkling);
}
.buttonFilter input[value="Piquette"]:checked + label {
  background-color: var(--piquette);
}
.buttonFilter input[value="Co-Fermented"]:checked + label {
  background-color: var(--co-fermented);
}

/* Hover styles for individual wine type filters */

 @media (pointer:fine) {
	.buttonFilter input[value="Orange"]:hover + label {
	  background-color: var(--orange-hover);
	}
	.buttonFilter input[value="Rosé"]:hover + label {
	  background-color: var(--rose-hover);
	}
	.buttonFilter input[value="Red"]:hover + label {
	  background-color: var(--red-hover);
	}
	.buttonFilter input[value="White"]:hover + label {
	  background-color: var(--white-hover);
	}
	.buttonFilter input[value="Sparkling"]:hover + label {
	  background-color: var(--sparkling-hover);
	}
  .buttonFilter input[value="Piquette"]:hover + label {
	  background-color: var(--piquette-hover);
	}
  .buttonFilter input[value="Co-Fermented"]:hover + label {
	  background-color: var(--co-fermented-hover);
	}
}

@media (pointer:fine) {
	.buttonFilter input[value="Orange"]:checked:hover + label {
		background-color: var(--orange);
	}
	.buttonFilter input[value="Rosé"]:checked:hover + label {
		background-color: var(--rose);
	}
	.buttonFilter input[value="Red"]:checked:hover + label {
		background-color: var(--red);
	}
	.buttonFilter input[value="White"]:checked:hover + label {
		background-color: var(--white);
	}
	.buttonFilter input[value="Sparkling"]:checked:hover + label {
		background-color: var(--sparkling);
	}
	.buttonFilter input[value="Piquette"]:checked:hover + label {
		background-color: var(--piquette);
	}
	.buttonFilter input[value="Co-Fermented"]:checked:hover + label {
		background-color: var(--co-fermented);
	}
}
