/*----------------------------------------------------*/
/*  Import fonts                                      */
/*----------------------------------------------------*/


/*	Relative */

@font-face {
  font-family: 'Relative';
  src:  url('../fonts/Relative/Relative-Book.woff2') format('woff2'),
        url('../fonts/Relative/Relative-Book.woff') format('woff'),
				url('../fonts/Relative/Relative-Book.tff') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
  font-family: 'Relative';
  src:  url('../fonts/Relative/Relative-Medium.woff2') format('woff2'),
        url('../fonts/Relative/Relative-Medium.woff') format('woff'),
				url('../fonts/Relative/Relative-Medium.tff') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
  font-family: 'Relative';
  src:  url('../fonts/Relative/Relative-Bold.woff2') format('woff2'),
        url('../fonts/Relative/Relative-Bold.woff') format('woff'),
				url('../fonts/Relative/Relative-Bold.tff') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
  font-family: 'Relative 12Pitch';
  src:  url('../fontsRelative/Relative-12Pitch.woff2') format('woff2'),
        url('../fonts/Relative/Relative-12Pitch.woff') format('woff'),
				url('../fonts/Relative/Relative-12Pitch.tff') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/*	Freizeit */

@font-face {
  font-family: 'Freizeit 120';
  src:  url('../fonts/Freizeit/Freizeit120-ExtraBold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit 120';
  src:  url('../fonts/Freizeit/Freizeit120-Bold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit 120';
  src:  url('../fonts/Freizeit/Freizeit120-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit 120';
  src:  url('../fonts/Freizeit/Freizeit120-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit 120';
  src:  url('../fonts/Freizeit/Freizeit120-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit 120';
  src:  url('../fonts/Freizeit/Freizeit120-ExtraLight.otf') format('opentype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit 120';
  src:  url('../fonts/Freizeit/Freizeit120-Thin.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
}


@font-face {
  font-family: 'Freizeit 140';
  src:  url('../fonts/Freizeit/Freizeit140-ExtraBold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit 140';
  src:  url('../fonts/Freizeit/Freizeit140-Bold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit 140';
  src:  url('../fonts/Freizeit/Freizeit140-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit 140';
  src:  url('../fonts/Freizeit/Freizeit140-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit 140';
  src:  url('../fonts/Freizeit/Freizeit140-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit 140';
  src:  url('../fonts/Freizeit/Freizeit140-ExtraLight.otf') format('opentype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit 140';
  src:  url('../fonts/Freizeit/Freizeit140-Thin.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
}



@font-face {
  font-family: 'Freizeit';
  src:  url('../fonts/Freizeit/FreizeitTrial-ExtraBold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit';
  src:  url('../fonts/Freizeit/FreizeitTrial-Bold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit';
  src:  url('../fonts/Freizeit/FreizeitTrial-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit';
  src:  url('../fonts/Freizeit/FreizeitTrial-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit';
  src:  url('../fonts/Freizeit/FreizeitTrial-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit';
  src:  url('../fonts/Freizeit/FreizeitTrial-ExtraLight.otf') format('opentype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit';
  src:  url('../fonts/Freizeit/FreizeitTrial-Thin.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
}


/*----------------------------------------------------*/
/*  Variables                                         */
/*----------------------------------------------------*/


:root {

	/*	Font size */
	--body: 1rem;
	--medium: 0.95rem;
  --small: 0.875rem;

	/*	Font stacks */
	--fallback: -apple-system, BlinkMacSystemFont, 'Inter', "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--sans: 'Relative', var(--fallback);
	--mono: 'Relative 12Pitch', var(--fallback);

  --sans-100: 'Freizeit', var(--fallback);
  --sans-120: 'Freizeit 120', var(--fallback);
  --sans-140: 'Freizeit 120', var(--fallback);

}



/*----------------------------------------------------*/
/*  Styles                                            */
/*----------------------------------------------------*/


/* Core styles */

body {
	font-family: var(--sans-100);
	font-size: var(--body);
	font-weight: 400;
	/* -webkit-font-smoothing: antialiased; */
}

h2 {
  font-family: var(--sans-120);
	line-height: 1.9rem;
  font-size: 1.45rem;
  font-weight: 500;
}

h3 {
	font-family: var(--sans-120);
	font-size: 1rem;
	font-weight: 600;
  /* text-transform: uppercase;
  letter-spacing: .05em; */
}


/* Wine card styles */

article .name {
	font-family: var(--sans-100);
	font-weight: 500;
}

article .price {
	font-family: var(--sans-140);
  font-size: var(--medium);
  font-size: 0.8rem;
}

article .type {
	font-family: var(--sans-140);
	font-size: 0.8rem;
	line-height: 1.125rem;
}

article .name {
	line-height: 1.2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

article .store {
	font-size: var(--medium);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: break-word;
  font-weight: 400;
}


/*  Sidebar styles  */

/* h2 span {
  font-weight: 500;
} */

.search {
	font-weight: 400;
}

 .buttonFilter label {
	font-family: var(--sans-140);
  font-size: 0.85rem;
  font-weight: 400;
}

.credits {
	font-size: var(--small);
}

.credits a {
	text-decoration: underline;
}
