/*----------------------------------------------------*/
/*  Import fonts                                      */
/*----------------------------------------------------*/


/*	Relative */

/* @font-face {
  font-family: 'Relative';
  src:  url('../fonts/Relative/Relative-Book.woff2') format('woff2'),
        url('../fonts/Relative/Relative-Book.woff') format('woff'),
				url('../fonts/Relative/Relative-Book.tff') format('truetype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
  font-family: 'Relative';
  src:  url('../fonts/Relative/Relative-Medium.woff2') format('woff2'),
        url('../fonts/Relative/Relative-Medium.woff') format('woff'),
				url('../fonts/Relative/Relative-Medium.tff') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
  font-family: 'Relative';
  src:  url('../fonts/Relative/Relative-Bold.woff2') format('woff2'),
        url('../fonts/Relative/Relative-Bold.woff') format('woff'),
				url('../fonts/Relative/Relative-Bold.tff') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
  font-family: 'Relative 12Pitch';
  src:  url('../fontsRelative/Relative-12Pitch.woff2') format('woff2'),
        url('../fonts/Relative/Relative-12Pitch.woff') format('woff'),
				url('../fonts/Relative/Relative-12Pitch.tff') format('truetype');
	font-weight: normal;
	font-style: normal;
} */


/*	Freizeit */

/* @font-face {
  font-family: 'Freizeit';
  src:  url('../fonts/Freizeit/FreizeitTrial-ExtraBold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
} */
@font-face {
  font-family: 'Freizeit';
  src:  url('../fonts/Freizeit/FreizeitTrial-Bold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit';
  src:  url('../fonts/Freizeit/FreizeitTrial-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit';
  src:  url('../fonts/Freizeit/FreizeitTrial-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
/* @font-face {
  font-family: 'Freizeit';
  src:  url('../fonts/Freizeit/FreizeitTrial-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit';
  src:  url('../fonts/Freizeit/FreizeitTrial-ExtraLight.otf') format('opentype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit';
  src:  url('../fonts/Freizeit/FreizeitTrial-Thin.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
} */



/* @font-face {
  font-family: 'Freizeit 120';
  src:  url('../fonts/Freizeit/Freizeit120-ExtraBold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
} */
@font-face {
  font-family: 'Freizeit 120';
  src:  url('../fonts/Freizeit/Freizeit120-Bold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit 120';
  src:  url('../fonts/Freizeit/Freizeit120-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit 120';
  src:  url('../fonts/Freizeit/Freizeit120-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
/* @font-face {
  font-family: 'Freizeit 120';
  src:  url('../fonts/Freizeit/Freizeit120-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit 120';
  src:  url('../fonts/Freizeit/Freizeit120-ExtraLight.otf') format('opentype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit 120';
  src:  url('../fonts/Freizeit/Freizeit120-Thin.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
} */


/* @font-face {
  font-family: 'Freizeit 140';
  src:  url('../fonts/Freizeit/Freizeit140-ExtraBold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit 140';
  src:  url('../fonts/Freizeit/Freizeit140-Bold.otf') format('opentype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit 140';
  src:  url('../fonts/Freizeit/Freizeit140-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit 140';
  src:  url('../fonts/Freizeit/Freizeit140-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit 140';
  src:  url('../fonts/Freizeit/Freizeit140-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit 140';
  src:  url('../fonts/Freizeit/Freizeit140-ExtraLight.otf') format('opentype');
	font-weight: 200;
	font-style: normal;
}
@font-face {
  font-family: 'Freizeit 140';
  src:  url('../fonts/Freizeit/Freizeit140-Thin.otf') format('opentype');
	font-weight: 100;
	font-style: normal;
} */






/*----------------------------------------------------*/
/*  Variables                                         */
/*----------------------------------------------------*/


:root {

	/*	Font stacks */
	--fallback: -apple-system, BlinkMacSystemFont, 'Inter', "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--sans: 'Relative', var(--fallback);
	--mono: 'Relative 12Pitch', var(--fallback);

  --sans-100: 'Freizeit', var(--fallback);
  --sans-120: 'Freizeit 120', var(--fallback);
  --sans-140: 'Freizeit 140', var(--fallback);

  /*	Font weight */
  /* --bold: 700;
  --medium: 300;
	--regular: 300; */

  --weight-bold: 600;
  --weight-medium: 500;
	--weight-regular: 400;

  /*	Font size */
	--size-body: 1rem;
	--size-medium: 0.95rem;
  --size-small: 0.875rem;
  --size-xsmall: 0.85rem;
  --size-xxsmall: 0.8rem;

}



/*----------------------------------------------------*/
/*  Styles                                            */
/*----------------------------------------------------*/


/* Fonts */

body {
	font-family: var(--sans-100);
}

h2, h3, .buttonFilter label, article .type, article .price {
  font-family: var(--sans-120);
}

/* Font weights */

body {
  font-weight: var(--weight-regular);
}

article .name, h2 {
  font-weight: var(--weight-medium);
}

h3 {
  font-weight: var(--weight-bold);
}

/* Font sizes */

body, h3 {
	font-size: var(--size-body);
}

h2 {
  font-size: 1.425rem;
}

article .store {
  font-size: var(--size-medium);
}

.credits, .buttonFilter label {
	font-size: var(--size-small);
}

article .price {
  font-size: var(--size-xsmall);
}

article .type {
  font-size: var(--size-xxsmall);
}



/* Line height */

h2 {
	line-height: 1.9rem;
}

article .type {
	line-height: 1.125rem;
}

article .name {
	line-height: 1.3rem;
}

/* label {
  line-height: 1rem;
} */

/* Core styles */

body {
	/* -webkit-font-smoothing: antialiased; */
}

h3 {
  /* text-transform: uppercase;
  letter-spacing: .05em; */
}







/* Wine card styles */

article .price {
  padding-top: 0.125rem;
}

article .name {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

article .store {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-wrap: break-word;
}

.credits a {
	text-decoration: underline;
}
