/*----------------------------------------------------*/
/*  Import fonts                                      */
/*----------------------------------------------------*/


/*	Relative */

@font-face {
  font-family: 'Relative-Book';
  src:  url('../fonts/Relative-Book.woff2') format('woff2'),
        url('../fonts/Relative-Book.woff') format('woff'),
				url('../fonts/Relative-Book.tff') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'Relative-Medium';
  src:  url('../fonts/Relative-Medium.woff2') format('woff2'),
        url('../fonts/Relative-Medium.woff') format('woff'),
				url('../fonts/Relative-Medium.tff') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'Relative-Bold';
  src:  url('../fonts/Relative-Bold.woff2') format('woff2'),
        url('../fonts/Relative-Bold.woff') format('woff'),
				url('../fonts/Relative-Bold.tff') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
  font-family: 'Relative-12Pitch';
  src:  url('../fonts/Relative-12Pitch.woff2') format('woff2'),
        url('../fonts/Relative-12Pitch.woff') format('woff'),
				url('../fonts/Relative-12Pitch.tff') format('truetype');
	font-weight: normal;
	font-style: normal;
}



/*----------------------------------------------------*/
/*  Variables                                         */
/*----------------------------------------------------*/


:root {

	--fallback: -apple-system, BlinkMacSystemFont, 'Inter', "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	
	--regular: 'Relative-Book', var(--fallback);
  --medium: 'Relative-Medium', var(--fallback);
	--bold: 'Relative-Bold', var(--fallback);
	--mono: 'Relative-12Pitch', var(--fallback);

}



/*----------------------------------------------------*/
/*  Styles                                            */
/*----------------------------------------------------*/


/* Core styles */

body {
	font-family: var(--regular);
}

h3 {
	font-family: var(--bold);
}


/* Wine card styles */

article .name {
	font-family: var(--medium);
}

article .price {
	font-family: var(--mono);
}

article > .type {
	font-family: var(--mono);
}


/*  Button Filters  */

 .buttonFilter label {
	font-family: var(--mono);
} 

