:root {
	--border: ;
}

/*----------------------------------------------------*/
/*  General styles                                    */
/*----------------------------------------------------*/


html {
	font-size: 16px;
}

body {
	display: flex;
	background-color: var(--background);
	color: var(--foreground);
	font-family: var(--sans);
	font-weight: var(--regular);
	font-size: var(--size-body);
	-webkit-font-smoothing: antialiased;
}

p, h1, h3 {
	display: block;
	margin: 0;
	padding: 0;
}

ul {
	padding-inline-start: 0;
}

@media only screen and (max-width: 1112px) {
	body {
		display: block;
	}
}



/*----------------------------------------------------*/
/*  Type styles                                       */
/*----------------------------------------------------*/


h1 {
	color: var(--foreground);
	font-size: 1.9rem;
	line-height: 1.3em;
	font-weight: 400;
	font-family: 'gooper';
	.alt-font {
		font-family: 'matter';
		font-weight: 500;
		font-size: 1.05em;
	}
	.emoji {
	  font-family: "Noto Emoji", sans-serif !important;
	  font-optical-sizing: auto;
	  font-style: normal;
	  font-weight: 600;
	  margin-left: 2px;
	  -webkit-font-smoothing: auto;
	}
}

h3 {
	margin-bottom: var(--space-3);
	font-weight: 500;
	font-size:1.095rem;
}

a {
	color: inherit;
	text-decoration: none;
}


/*	---- Responsive styles ---- */

@media only screen and (max-width: 1112px) {

	h3 {
		margin-bottom: var(--space-3-5);
	}

}



/*----------------------------------------------------*/
/*  Buttons                                           */
/*----------------------------------------------------*/


button {
	background-color: var(--foreground);
	color: var(--background);
	border-radius: 10rem;
	bottom: var(--space-4);
	padding: var(--space-5);
	position: fixed;
	text-align: center;
	width: calc(100% - var(--space-8));
	border: none;
	cursor: pointer;
}



/*----------------------------------------------------*/
/*  Text input field                                  */
/*----------------------------------------------------*/


.textInput {
	border-radius: 0.5rem !important;
	outline: 0;
	appearance: none;
	box-sizing: border-box;
	display: inline-block;
	-webkit-appearance: none;
	border: solid;
	border-radius: 0.25rem;
	border-width: 1.5px;
	transition-duration: 0.3s;
	transition-property: border-color;
	color: var(--foreground);
	background-color: var(--background);
	border-color: var(--foreground-3);
	padding: var(--space-2) var(--space-2-5) var(--space-2) var(--space-3-5);
	width: 100%;
}

.textInput:hover, .textInput:focus {
	border-color: var(--foreground-2);
}

::placeholder {
	opacity: 1; /* Firefox */
	color: var(--foreground-2);
}


/*	---- Search ---- */

.search::-webkit-search-cancel-button{
	position: relative;
	right: -0.25rem;
	-webkit-appearance: none;
	height: 1.25rem;
	width: 1.25rem;
	cursor: pointer;
	transition: 0.1s;
	background-image: var(--x-mark);
}


/*	---- Responsive styles ---- */

@media only screen and (max-width: 1112px) {
	.textInput {
		padding: var(--space-2-5) var(--space-3) var(--space-2-5) var(--space-4);
	}
}



/*----------------------------------------------------*/
/*  Checkbox filters                                  */
/*----------------------------------------------------*/


.checkboxFilter label {
	cursor: pointer;
	display: block;
	margin-bottom: var(--space-2);
	padding-left: var(--space-6);
	padding-top: 0.115em;
	position: relative;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxFilter input {
	cursor: pointer;
	height: 0;
	opacity: 0;
	position: absolute;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	border: solid;
	border-radius: 0.25rem;
	border-width: 1.5px;
	box-sizing: border-box;
	height: 1rem;
	left: 0;
	position: absolute;
	top: 0;
	width: 1rem;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	transition-duration: 0.3s;
	transition-property: border-color, background-color;
	margin: 1px 0;
	border-color: var(--foreground-3);
}

.checkmark:hover {
	border-color: var(--foreground-2);
}

.checkboxFilter input:checked ~ .checkmark {
	border: none;
	background-color: var(--foreground);
}

/* Style the checkmark/indicator */
.checkboxFilter .checkmark:after {
	content: "";
	display: none;
	position: absolute;
	border: solid;
	border-color: var(--background);
	border-width: 0 1.75px 1.75px 0;
	height: 0.625rem;
	left: 0.3rem;
	top: 0.063rem;
	transform: rotate(45deg);
	width: 0.375rem;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transition: 0.3s;
}

.checkboxFilter input:checked ~ .checkmark:after {
	display: block;
}

/* Hide checkbox filter for 'undefined' labels */
label:has(> input[value="undefined"]) {
	display: none;
}

@media only screen and (max-width: 1112px) {
	.checkboxFilter label {
		line-height: 1.4rem;
		margin-bottom: var(--space-1-5);
		padding: var(--space-2) 0 var(--space-2) var(--space-8);
	}
	.checkmark {
		height: 1.25rem;
		width: 1.25rem;
		margin: 0.55rem 0;
	}
	.checkboxFilter .checkmark:after {
		border-width: 0 2px 2px 0;
		height: 0.8rem;
		left: 0.365rem;
		top: 0.077rem;
		width: 0.46rem;
	}
}



/*----------------------------------------------------*/
/*  Button filters                                    */
/*----------------------------------------------------*/


/*	---- Label ---- */

.buttonFilter label {
/*	font-family: 'gooper';*/
	border-radius: 5rem;
	cursor: pointer;
	display: inline-block;
	margin: var(--space-1) 0.325rem var(--space-1) 0;
/*	padding: var(--space-1) var(--space-2);*/
	padding: 0.3em var(--space-2) 0.2em;
	user-select: none;
	white-space: nowrap;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	transition: 0.3s background-color, 0.2s color;
	background-color: var(--foreground-5);
/*	font-family: var(--sans-wide);*/
/*	font-size: var(--size-small);*/
}

.buttonFilter input:checked + label {
	color: var(--type-text);
}

@media only screen and (max-width: 1112px) {
	.buttonFilter label {
		border-radius: 5rem;
		margin: var(--space-1-5) var(--space-2) var(--space-1-5) 0;
		padding: var(--space-2-5) var(--space-3-5);``
	}
}


/*	---- Input---- */

.buttonFilter input {
	display: absolute;
	opacity: 0;
	position: absolute;
}

/* Styles for individual wine type filters */

.buttonFilter input[value="Orange"]:checked + label {
	background-color: var(--tag-orange);
}
.buttonFilter input[value="Rosé"]:checked + label {
	background-color: var(--tag-rose);
}
.buttonFilter input[value="Red"]:checked + label {
	background-color: var(--tag-red);
}
.buttonFilter input[value="White"]:checked + label {
	background-color: var(--tag-white);
}
.buttonFilter input[value="Sparkling"]:checked + label {
	background-color: var(--tag-sparkling);
}
.buttonFilter input[value="Piquette"]:checked + label {
	background-color: var(--tag-piquette);
}
.buttonFilter input[value="Co-Fermented"]:checked + label {
	background-color: var(--tag-co-fermented);
}

/* Hover styles for individual wine type filters */

 @media (pointer:fine) {
	.buttonFilter input[value="Orange"]:hover + label {
		background-color: var(--tag-orange-hover);
	}
	.buttonFilter input[value="Rosé"]:hover + label {
		background-color: var(--tag-rose-hover);
	}
	.buttonFilter input[value="Red"]:hover + label {
		background-color: var(--tag-red-hover);
	}
	.buttonFilter input[value="White"]:hover + label {
		background-color: var(--tag-white-hover);
	}
	.buttonFilter input[value="Sparkling"]:hover + label {
		background-color: var(--tag-sparkling-hover);
	}
	.buttonFilter input[value="Piquette"]:hover + label {
		background-color: var(--tag-piquette-hover);
	}
	.buttonFilter input[value="Co-Fermented"]:hover + label {
		background-color: var(--tag-co-fermented-hover);
	}
}

@media (pointer:fine) {
	.buttonFilter input[value="Orange"]:checked:hover + label {
		background-color: var(--tag-orange);
	}
	.buttonFilter input[value="Rosé"]:checked:hover + label {
		background-color: var(--tag-rose);
	}
	.buttonFilter input[value="Red"]:checked:hover + label {
		background-color: var(--tag-red);
	}
	.buttonFilter input[value="White"]:checked:hover + label {
		background-color: var(--tag-white);
	}
	.buttonFilter input[value="Sparkling"]:checked:hover + label {
		background-color: var(--tag-sparkling);
	}
	.buttonFilter input[value="Piquette"]:checked:hover + label {
		background-color: var(--tag-piquette);
	}
	.buttonFilter input[value="Co-Fermented"]:checked:hover + label {
		background-color: var(--tag-co-fermented);
	}
}


/*----------------------------------------------------*/
/*  Nav                                               */
/*----------------------------------------------------*/

nav {
	padding: var(--space-10) var(--space-10) var(--space-14) var(--space-10);
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	float: left;
	height: 100vh;
	overflow: auto;
	overscroll-behavior: contain;
	position: sticky;
	top: 0;
	width: 19rem;
	background-color: var(--background);
	gap: var(--space-8);
}

.filter {
	margin-bottom: var(--space-8);;
}

.credits {
	font-size: var(--size-medium);
	color: var(--foreground-2);
}

.credits a {
	text-decoration: underline;
}


/*	---- Nav buttons (mobile)---- */

#navButtons {
	position: fixed;
	right: var(--space-2-5);
}

#navButtons a {
	padding: 0.15rem 0.75rem;
}

#navButtons svg {
	stroke: var(--foreground);
	height: 2.25rem;
	width: 2.25rem;
}

#showButton {
	display: block;
}

#hideButton {
	display: none;
}


/*	---- Responsive styles ---- */

/* Set default visibility for desktop */
@media only screen and (min-width: 1112px) {
	nav {
		padding-right: var(--space-9);
	}
	#filterWrapper {
		display: block !important;
	}
	#navButtons, .resultsButton {
		display: none;
	}
}

@media only screen and (max-width: 1112px) {
	nav {
		padding: 1.125rem;
		height: auto;
		padding: 1.125rem;
		position: fixed;
		width: 100%;
		z-index: 100;
	}
	h1 {
		display: none !important;
	}
	#filterWrapper {
		width: calc(100% - var(--space-10));
		display: none;
		margin-bottom: 13rem;
	}
	#navButtons, .resultsButton {
		display: block;
	}
	#searchWrapper {
		display: flex;
		gap: var(--space-2);
		align-items: center;
	}
	.search {
		width: calc(100% - var(--space-14));
	}
	#searchWrapper h3 {
		display: none;
	}
}

@media only screen and (max-width: 1112px) and (pointer: fine) {
	#filterWrapper {
		margin-bottom: 7rem;
	}
}



/*----------------------------------------------------*/
/*  Main                                              */
/*----------------------------------------------------*/


main {
	padding: var(--space-10);
	top: var(--space-0);
	flex: 1;
	overflow: auto;
	overscroll-behavior: contain;
	position: sticky;
	text-align: left;
}


/*	---- List ---- */

.list {
	grid-gap: var(--space-10);
	align-items: stretch;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
	width: auto;
	max-width: 2159px;
}


/*	---- Pagination ---- */

.pagination {
	margin-top: var(--space-14);
	display: block;
}

.pagination li {
	border-radius: 0.25rem;
	display: inline;
	margin-right: var(--space-2);
	padding: var(--space-2) var(--space-3);
	text-decoration: none;
	border: solid;
	border-width: 1.5px;
	border-color: var(--foreground-3);
	cursor: pointer;
	transition-duration: 0.3s;
	transition-property: border-color, background-color, color;
}

.pagination li:hover {
	border-color: var(--foreground-2);
}

.pagination li.active {
	background-color: var(--foreground);
	color: var(--background);
}

.pagination li.active:hover {
	background-color: var(--foreground);
	color: var(--background);
}


/*	---- Responsive styles ---- */

@media only screen and (min-width: 1112px) {
	main {
		padding-left: var(--space-2);
		visibility: visible !important;
	}
}

@media only screen and (max-width: 1112px) {
	main {
		margin-top: 4rem;
		padding: 1.125rem;
	}
	.list {
		gap: 1.125rem;
	}
	.pagination {
		height: 40px;
	}
	.pagination li {
		margin-right: var(--space-2-5);
		padding: var(--space-2-5) var(--space-3-5);
	}
}



/*----------------------------------------------------*/
/*  Wine card styles                                  */
/*----------------------------------------------------*/


article {
	position: relative;
}


/*	---- Type tag ---- */

article > .type {
	border-radius: 10rem;
	cursor: pointer;
	display: inline-block;
	height: 1.125rem;
	left: var(--space-3);
	margin: 0 var(--space-2) var(--space-2) 0;
	padding: 0 var(--space-1-5);
	position: absolute;
	top: var(--space-3);
}

/*	Colors */

article.red  > div.type {
	background-color: var(--tag-red);
}
article.white  > div.type{
	background-color: var(--tag-white);
}
article.rose > div.type{
	background-color: var(--tag-rose);
}
article.orange > div.type {
	background-color: var(--tag-orange);
}
article.sparkling  > div.type {
	background-color: var(--tag-sparkling);
}
article.piquette  > div.type {
	background-color: var(--tag-piquette);
}
article.co-fermented  > div.type {
	background-color: var(--tag-co-fermented);
}


/*	---- Text---- */

article .text {
	display: flex;
	flex-direction: column;
	gap: var(--space-1-5);
	margin-top: var(--space-3);
	overflow: hidden;
}

.name {
	font-weight: var(--medium);
	line-height: 1.3rem;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* number of lines to show */
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	word-wrap: break-word;
	/* text-transform: lowercase; */
	text-transform: capitalize;
	-webkit-font-smoothing: antialiased;
/*	letter-spacing: -0.005em;*/
}

.store {
	/* font-weight: var(--light); */
	font-size: var(--size-medium);
	/* -webkit-font-smoothing: antialiased; */
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1; /* number of lines to show */
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	word-wrap: break-word;
	-webkit-font-smoothing: antialiased;
	color: var(--foreground-2);
}

.price {
/*	font-family: var(--sans-wide);*/
	/* font-weight: var(--medium); */
	font-size: var(--size-small);
	padding-top: 0.125rem;
}

.type {
/*	font-family: var(--sans-wide);*/
	font-size: var(--size-small);
	line-height: 1.125rem;
	color: var(--type-text);
}

/* Hide maker and region from wine card */
.maker,
.region {
	display: none;
}


/*	---- Images ---- */

article > a {
	border-radius: 0.5rem;
	display: block;
	height: clamp(200px, 22vw, 280px);
	width: 100%;
	transition: box-shadow 0.3s;
	background: var(--image-background);
}

article > a:hover {
	box-shadow: 0 0.188rem 0.5rem 0 var(--shadow);
}

article img {
	border-radius: 0.5rem;
	height: 100%;
	max-width: 100%;
	object-fit: cover;
	object-position: 50% 50%;
	width: 100%;
	mix-blend-mode: multiply;
}

img.placeholder {
	object-fit: scale-down;
	padding: 2.5vw 0;
	width: 100%;
	object-position: 50% 50%;
	height: 100%;
}

/* Hide store's placeholder images */
article .noimage img.photo,
article .hasimage img.placeholder {
	display: none;
}


/*	---- Custom styling for store images ---- */

/* Heaven's market */

article.heavensmarket img {
	object-fit: scale-down;
	padding: 1.2vw 0;
}

@media only screen and (max-width: 1112px) {
	article.heavensmarket img {
		padding: 2.5vw 0;
	}
}

/* Wine + Eggs */

article.wineandeggs img {
	object-fit: scale-down;
}


/*	---- Responsive styles ---- */

@media only screen and (max-width: 1112px) {

	article {
		padding-bottom: var(--space-4);
	}

	article > .type {
		left: var(--space-2-5);
		top: var(--space-2-5);
	}

	article > a {
		height: clamp(200px, 36vw, 260px);
	}

	article img.placeholder  {
		padding: 4vw 0;
	}

}