main {

	/* List */

	.list {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(16ch, 1fr));
		grid-gap: var(--space-s-l);
	}

	@media only screen and (max-width: 830px) {
		.list {
			grid-template-columns: repeat(auto-fill, minmax(14ch, 1fr));
		}
	}

	/* Pagination */

	.pagination {
		margin-top: var(--space-xl);

		& li {
			display: inline-block;
			padding: var(--space-2xs) var(--space-xs);
			border-radius: 0.25rem;
			margin-right: var(--space-2xs);
			text-decoration: none;
			border: solid;
			border-width:  var(--border-width);
			border-color: var(--border-color);
			cursor: pointer;
			transition-duration: 0.3s;
			transition-property: border-color, background-color, color;

			&:hover {
				border-color: var(--foreground-2);
			}

			&.active {
				background-color: var(--foreground);
				color: var(--background);
				&:hover {
					background-color: var(--foreground);
					color: var(--background);
				}
			}
		}
	}
}


/* Responsive styles */

@media only screen and (max-width: 1112px) {

	.pagination {
		height: 40px;
	}
}