/*----------------------------------------------------*/
/*  Variables                                         */
/*----------------------------------------------------*/


:root {

  /*	Spacing */
  --space-0: 0px;
  --space-px: 1px;
  --space-0-5: 0.125rem; /* 2px */
  --space-1: 0.25rem;    /* 4px */
  --space-1-5: 0.375rem; /* 6px */
  --space-2: 0.5rem;     /* 8px */
  --space-2-5: 0.625rem; /* 10px */
  --space-3: 0.75rem;    /* 12px */
  --space-3-5: 0.875rem; /* 14px */
  --space-4: 1rem;       /* 16px */
  --space-5: 1.25rem;    /* 20px */
  --space-6: 1.5rem;     /* 24px */
  --space-7: 1.75rem;    /* 28px */
  --space-8: 2rem;       /* 32px */
  --space-9: 2.25rem;    /* 36px */
  --space-10: 2.5rem;    /* 40px */
  --space-12: 3rem;      /* 48px */
  --space-14: 3.5rem;    /* 56px */

}



/*----------------------------------------------------*/
/*  Core styles                                       */
/*----------------------------------------------------*/


html {
	font-size: 16px;
}

@media only screen and (max-width: 800px) {
  html {
  	font-size: 18px;
  }
}

body {
	display: flex;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	margin: 0;
}

h3 {
  margin: 0 0 var(--space-3) 0;
}

@media only screen and (max-width: 800px) {
  h3 {
    margin: 0 0 var(--space-3-5) 0;
  }
}

ul {
  padding-inline-start: 0;
}



/*----------------------------------------------------*/
/*  Page Layout                                       */
/*----------------------------------------------------*/


main {
	flex: 1;
	overflow: auto;
	overscroll-behavior: contain;
  padding: var(--space-10);
	position: sticky;
	text-align: left;
	top: var(--space-0);
	width: 100%;
}

.list {
	align-items: stretch;
	display: grid;
	grid-gap: var(--space-10);
	grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
	overflow: hidden;
	width: auto;
}

nav {
	align-self: flex-start;
  display: flex;
  flex-direction: column;
	float: left;
  gap: var(--space-6);
	height: 100vh;
	overflow: auto;
	overscroll-behavior: contain;
  padding: var(--space-12) var(--space-10);
	position: sticky;
	top: 0;
	width: 18.29rem;
}

@media only screen and (max-width: 800px) {
	body {
		display: block;
	}
	nav {
		height: auto;
		padding: var(--space-4);
		position: fixed;
		width: 100%;
		z-index: 100;
	}
	main {
		margin-top: 3.222rem;
		padding: var(--space-4);
	}
	.list {
		gap: var(--space-4);
	}
}



/*----------------------------------------------------*/
/*  Main/grid styles                                  */
/*----------------------------------------------------*/


/* Pagination */

.pagination {
  margin-top: var(--space-14);
}

.pagination li {
	border-radius: 0.25rem;
  display: inline;
	margin-right: var(--space-2);
  padding: var(--space-2) var(--space-3);
	text-decoration: none;
}

.pagination li.active:hover {
	cursor: default;
}

.pagination li.active a {
	cursor: default;
}



/*----------------------------------------------------*/
/*  Wine card styles                                  */
/*----------------------------------------------------*/


article {
	position: relative;
}


/* Style images */

article > a {
	border-radius: 0.5rem;
	display: block;
	height: 20vw;
	width: 100%;
}

article img {
	border-radius: 0.5rem;
	height: 100%;
	max-width: 100%;
	object-fit: cover;
	object-position: 50% 50%;
  width: 100%;
}

article .noimage img,
article .hasimage svg {
  display: none;
}

article svg {
  object-fit: scale-down;
  padding: 2.5vw 0;
  width: 100%;
  object-position: 50% 50%;
  height: 100%;
}

@media only screen and (max-width: 800px) {
	article svg {
		padding: 4vw 0;
	}
}


/* Style heaven's market images */

article.heavensmarket img {
	object-fit: scale-down;
  padding: 1.2vw 0;
}

@media only screen and (max-width: 800px) {
	article.heavensmarket img {
		padding: 2.5vw 0;
	}
}

/* Style wine + eggs images */

article.wineandeggs img {
	object-fit: scale-down;
}


/* Text styles */

article .text {
	display: flex;
	flex-direction: column;
	gap: var(--space-1-5);
	margin-top: var(--space-3);
	overflow: hidden;
}

p.maker,
p.region {
  display: none;
}


/* Wine card type tag */

article > .type {
	border-radius: 10rem;
	cursor: pointer;
	display: inline-block;
	height: 1.125rem;
	left: var(--space-3);
	margin: 0 var(--space-2) var(--space-2) 0;
	padding: 0 var(--space-1-5);
	position: absolute;
	top: var(--space-3);
}


/* Wine cards mobile styles */

@media only screen and (max-width: 800px) {
	article {
		padding-bottom: var(--space-2);
	}
	article > a {
		height: 42vw !important;
	}
}




/*----------------------------------------------------*/
/*  Sidebar styles                                    */
/*----------------------------------------------------*/


.logo svg {
	max-width: 8.2rem;
}

.tagline {
	display: block;
}

/* Hide logo & tagline on mobile */
@media only screen and (max-width: 800px) {
	.logo, .tagline {
	  display: none !important;
	}
}

#filters {
  display: block;
}

/* Set filters to always appear on desktop */
@media only screen and (min-width: 800px) {
	#filters {
		display: block !important;
	}
}

/* Style filters panel for mobile */
@media only screen and (max-width: 800px) {
	#filters {
		margin-bottom: 4.5rem;
		width: calc(100% - var(--space-10));
	}
}

/* Hide filters panel initially on mobile */
@media only screen and (max-width: 800px) {
	#filters {
		display: none;
	}
}

.filter {
	margin-bottom: var(--space-6);;
}

.resultsButton {
	border-radius: 10rem;
	bottom: var(--space-4);
	padding: var(--space-4);
	position: fixed;
	text-align: center;
	width: calc(100% - var(--space-8));
}

.mobileButtons {
	position: fixed;
	right: var(--space-2-5);
}

.mobileButtons a {
	display: block;
	height: 2.222rem;
	padding: 0.15rem 0.5rem;
}

.mobileButtons svg{
	height: 2rem;
	width: 2rem;
}

/* Hide "hide" button initially */
#hideButton {
	display: none;
}

/* Hide mobile buttons & results button on desktop */
@media only screen and (min-width: 800px) {
	.mobileButtons {
	  display: none;
	}
  .resultsButton {
    display: none;
  }
}

/* Show mobile buttons & results button on mobile */
@media only screen and (max-width: 800px) {
	.mobileButtons, .resultsButton {
	  display: block;
	}
}



/*----------------------------------------------------*/
/*  Text Input & Selct Styles                         */
/*----------------------------------------------------*/


.search, select {
  border: none;
  border-radius: 0.5rem !important;
  outline: 0;
	padding: var(--space-2) var(--space-2-5) var(--space-2) var(--space-3-5);
	appearance: none;
	box-sizing: border-box;
	display: inline-block;
	-webkit-appearance: none;
}

.search {
  width: 100%;
}

/* input[type=text]:hover, select:hover, textarea:hover {
	border-color: var(--gray-500);
} */

::placeholder {
  opacity: 1; /* Firefox */
}

/* Style the hover state */
/*
.search:hover, .search:focus {
   border: 1px solid #009688;
   background-color: white;
}
*/

/* Style the clear icon */
.search::-webkit-search-cancel-button{
    position:relative;
    right: -0.25rem;
    -webkit-appearance: none;
    height: 1.25rem;
    width: 1.25rem;
    background-image: url('/assets/svgs/x-mark-outline.svg');
}

/* Search bar mobile styles */

@media only screen and (max-width: 800px) {
	.searchWrapper {
		display: flex;
		gap: var(--space-2);
	}
	.search {
		width: calc(100% - var(--space-12));
	}
}

/* Select only */

select {
	background: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M8.88668 5.00001L3.11353 5.00002C2.6821 5.00002 2.4532 4.49028 2.73982 4.16783L5.40218 1.17268C5.72041 0.814672 6.2798 0.814671 6.59803 1.17268L9.26039 4.16783C9.54701 4.49028 9.31811 5.00001 8.88668 5.00001ZM3.11353 7.00001H8.88668C9.31811 7.00001 9.54701 7.50975 9.26039 7.8322L6.59803 10.8273C6.2798 11.1854 5.72041 11.1854 5.40218 10.8273L2.73982 7.8322C2.4532 7.50975 2.6821 7.00001 3.11353 7.00001Z' fill='%236C6F75'/%3E%3C/svg%3E") no-repeat;
	background-position: right var(--space-3) top 50%;
	/* box-shadow: var(--shadow-button); */
}


/*----------------------------------------------------*/
/*  Checkbox filter styles                            */
/*----------------------------------------------------*/

.checkboxFilter label {
	cursor: pointer;
  display: block;
	margin-bottom: var(--space-3);
  padding-left: var(--space-6);
	position: relative;
	user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
	-webkit-user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxFilter input {
	cursor: pointer;
  height: 0;
  opacity: 0;
	position: absolute;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
	border: solid;
	border-radius: 0.25rem;
	border-width: 0.125rem;
	box-sizing: border-box;
	height: 1rem;
	left: 0;
  position: absolute;
  top: 0;
  width: 1rem;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.checkboxFilter .checkmark:after {
	border: solid;
}

/* On mouse-over, add a background color */
/*
.checkboxFilter input:hover input ~ .checkmark {
}
*/

/* When the checkbox is checked, add a blue background */
.checkboxFilter input:checked ~ .checkmark {
	border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
	display: none;
  position: absolute;
}

/* Show the checkmark when checked */
.checkboxFilter input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkboxFilter .checkmark:after {
  border-width: 0 0.125rem 0.125rem 0;
	height: 0.625rem;
  left: 0.3rem;
  top: 0.063rem;
	transform: rotate(45deg);
  width: 0.375rem;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}

/* Hide checkbox filter for 'undefined' labels */
label:has(> input[value="undefined"]) {
	display: none;
}

@media only screen and (max-width: 800px) {
	.checkboxFilter label {
		line-height: 1.4rem;
    margin-bottom: var(--space-3-5);
    padding-left: var(--space-7);
	}
  .checkmark {
    border-width: 0.15rem;
    height: 1.25rem;
    width: 1.25rem;
  }
  .checkboxFilter .checkmark:after {
    border-width: 0 0.15rem 0.15rem 0;
  	height: 0.8rem;
    left: 0.365rem;
    top: 0.077rem;
    width: 0.46rem;
  }
}



/*----------------------------------------------------*/
/*  Button filter styles                              */
/*----------------------------------------------------*/


.buttonFilter label {
	border-radius: 5rem;
	cursor: pointer;
	display: inline-block;
	margin: var(--space-1) var(--space-0-5);
	padding: var(--space-1) var(--space-2);
	user-select: none;
  white-space: nowrap;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
  -webkit-user-select: none;
}

@media only screen and (max-width: 800px) {
  .buttonFilter label {
  	border-radius: 5rem;
  	margin: var(--space-1-5) var(--space-1);
  	padding: var(--space-1-5) var(--space-2-5);
  }
}

.buttonFilter input {
  display: absolute;
	opacity: 0;
  position: absolute;
}

/*Style default active button state*/
/*
.buttonFilter input:checked + label {
}
*/
