/* Layout */

nav > * + * {
	margin-block-start: var(--space-s);
}

nav {
	background-color: var(--background);
	display: flex;
	flex-direction: column;
}

/* Set layout and styles for sticky elements */
@media only screen and (max-width: 1112px) {

	#searchWrapper, #filterWrapper .header, .button-wrapper {
		position: sticky;
		padding: var(--space-xs) var(--space-s-l);
		background-color: var(--background);
		height: auto;
		z-index: 999;
	}

	#searchWrapper, #filterWrapper .header {
		display: flex;
		align-items: center;
		top: 0;
	}

	#filterWrapper .header, .button-wrapper {
		border-width: 1px;
		border-color: var(--foreground-4);
	}

	#searchWrapper {
		gap: var(--space-5xs);
	}

	#filterWrapper .header {
		justify-content: space-between;
		border-bottom-style: solid;
	}

	.button-wrapper {
/*		bottom: 0;*/
		bottom: env(safe-area-inset-bottom);
		border-top-style: solid;
		padding: var(--space-xs) var(--space-xs);
	}
}


/* Filter sections*/

#filterWrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

/* Set vertical padding for filter sections */
.wrap-collapsible {
	padding: var(--space-xs) 0;
	border-bottom: 1px solid;
	border-color: var(--foreground-5);
}

.credits {
	padding-top: var(--space-l);
	flex-grow: 1;
	display: flex;
/*	height: 100%;*/
	.text {
		display: inline-block;
		align-self: flex-end;
	}
}

@media only screen and (max-width: 1112px) {
	.credits {
			padding: var(--space-m) 0 ;
	}
}

/* Add top border for 1st section on desktop */
@media only screen and (min-width: 1112px) {
	.header + .wrap-collapsible {
		border-top: 1px solid;
		border-color: var(--foreground-5);
	}
}

/* Set L + R margins for filter sections */
@media only screen and (max-width: 1112px) {
	.wrap-collapsible, .credits {
		margin: 0 var(--space-s-l);
	}
}







input.toggle[type='checkbox'] {
  display: none;
}

.lbl-toggle {
	font-weight: 500;
	font-size: var(--step-0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  cursor: pointer;

  transition: all 0.25s ease-out;
  positon: relative;

  & svg {
  	width: 22px;
  	height: 22px;
  }
}

@media only screen and (max-width: 1112px) {
	.lbl-toggle {
/*		justify-content: left;*/
		padding: var(--space-5xs) 0;
		gap: 0.25em;
		& svg {
	  	width: 26px;
	  	height: 26px;
	  	margin-right: 0.15rem;
	  }
	}
}

.toggle:checked + .lbl-toggle svg {
  transform: rotate(180deg);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 100vh;
}

.credits {
	font-size: var(--step--1);
	color: var(--foreground-2);
	& a {
		text-decoration: underline;
	}
}

@media only screen and (max-width: 1112px) {
	.credits {
		font-size: var(--step-0);
	}
	.lbl-toggle {
/*		font-size: var(--step-2)!important;*/
	}
}


button {
	background-color: var(--foreground);
	color: var(--background);
	border-radius: 10rem;
	text-align: center;
	border: none;
	cursor: pointer;
	width: 100%;
	height: 48px;
	font-weight: 500;
	transition: 0.3s;
}

@media (any-hover: hover) {
	button:hover {
		background-color: rgba(var(--foreground-value), 0.95);
	}
}


/*	Mobile menu toggle */

.navButton {
	height: 42px;

	& svg {
		padding: var(--space-4xs) 0 var(--space-4xs) calc(var(--space-4xs) * 2);
		height: 42px;
	}

	&#showButton {
		display: block;
	}

	&#hideButton {
		display: none;
	}
}


/* Set mobile styles */

@media only screen and (max-width: 1112px) {
	nav {
		height: auto;
		width: 100%;
		z-index: 100;
	}
	.search {
		flex: 1;
		height: 42px;
	}
	#filterWrapper {
		margin-block-start: 0;
	}
}


/* Set visibility for mobile */

@media only screen and (max-width: 1112px) {
	h1 {
		display: none !important;
	}
	#filterWrapper {
		display: none;
	}
	.navButton#showButton, .navButton#hideButton, .button-wrapper {
		display: block;
	}
	#searchWrapper h3 {
		display: none;
	}
	h2 {
		display: block;
	}
}

/* Set default visibility for desktop */

@media only screen and (min-width: 1112px) {
	#filterWrapper {
		display: flex !important;
	}
	.navButton#showButton, .navButton#hideButton, .button-wrapper {
		display: none!important;
	}
	h2 {
		display: none!important;;
	}
	#searchWrapper {
		display: block!important;
	}
}