nav > * + *, #filterWrapper > * + * {
	margin-block-start: var(--space-m);
}

/*#searchWrapper {
	margin-block-start: var(--space-xs);
	margin-block-end: var(--space-s);
}*/

/*#searchWrapper {
	padding: var(--space-xs) 0;
	margin-block-start: var(--space-m);
	border-top: 1px solid;
	border-color: var(--foreground-5);
}*/

/*#filterWrapper > * + * {
	padding: var(--space-s) 0;
	border-top: 1px solid;
	border-color: var(--foreground-5);
}*/


@media only screen and (max-width: 1112px) {
	#filterWrapper > * + * {
		margin-block-start: var(--space-l);
	}
}

h1 {
	margin-block-end: var(--space-4xs);
}

h3 {
	margin-bottom: var(--space-2xs);
}

.buttonFilter h3 {
		margin-bottom: calc(var(--space-2xs) - 0.3em);
	}

/*	@media only screen and (max-width: 1112px) {
		.buttonFilter h3 {
			margin-bottom: calc(var(--space-2xs) - 0.175em);
		}
	}
*/
.credits {
	font-size: var(--step--1);
	color: var(--foreground-2);
	& a {
		text-decoration: underline;
	}
}

@media only screen and (max-width: 1112px) {
	.credits {
		font-size: var(--step-0);
	}
	h3 {
		font-size: var(--step-2)!important;
	}
}

.button-wrapper {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: var(--space-xs) var(--space-s-l);
	background-color: var(--background);
	border-top: solid;
	width: 100%;
	border-width: 1px;
	border-color: var(--foreground-4);
/*	height: 90px;*/
}

button {
	background-color: var(--foreground);
	color: var(--background);
	border-radius: 10rem;
	bottom: var(--space-s);
/*	padding: var(--space-m);*/
/*	position: fixed;*/
	text-align: center;
/*	width: calc(100% - calc(var(--space-m-l) * 2));*/
	border: none;
	cursor: pointer;
	width: 100%;
	height: 48px;
	font-weight: 500;
	transition: 0.3s;
/*	-webkit-font-smoothing: auto; */
}

@media (any-hover: hover) {
	button:hover {
		background-color: rgba(var(--foreground-value), 0.95);
	}
}


/*	Mobile menu toggle */

.navButton {
	height: 2.25rem;
	width: 2.25rem;

	& svg {
		stroke: var(--foreground);
	}

	&#showButton {
		display: block;
	}

	&#hideButton {
		display: none;
		position: fixed;
		right: var(--space-s-l);
		top: calc(var(--space-xs) + 3px);
	}
}


/* Set mobile styles */

@media only screen and (max-width: 1112px) {
	nav {
		height: auto;
		width: 100%;
		z-index: 100;
		background-color: var(--background);
		position: sticky;
	}
	#searchWrapper {
		display: flex;
		gap: var(--space-2xs);
		align-items: center;
	}
	.search {
/*		width: calc(100% - var(--space-xl));*/
		max-width: 100%;
		flex: 1;
		height: 42px;
	}
	#filterWrapper {
/*		width: calc(100% - var(--space-2xs));*/
		padding-bottom: 170px;
		width: calc(100% - 50px);
	}
}

/*@media only screen and (max-width: 1112px) and (pointer: fine) {
	#filterWrapper {
		margin-bottom: 7rem;
	}
}*/

/* Set visibility for mobile */

@media only screen and (max-width: 1112px) {
	h1 {
		display: none !important;
	}
	#filterWrapper {
		display: none;
	}
	.navButton#showButton, .navButton#hideButton, .button-wrapper {
		display: block;
	}
	#searchWrapper h3 {
		display: none;
	}
	h2 {
		display: block;
	}
}

/* Set default visibility for desktop */

@media only screen and (min-width: 1112px) {
	#filterWrapper {
		display: block !important;
	}
	.navButton#showButton, .navButton#hideButton, .button-wrapper {
		display: none!important;
	}
	h2 {
		display: none!important;;
	}
	#searchWrapper {
		display: block!important;
	}
}