/* Layout */

nav > * + * {
	margin-block-start: var(--space-s);
}

nav {
	background-color: var(--background);
	display: flex;
	flex-direction: column;
	z-index: 999;
}

/* Set layout and styles for sticky elements */
@media only screen and (max-width: 1112px) {

	#searchWrapper, .filter-main, .button-wrapper {
		padding: var(--space-xs) var(--space-s-l);
	}

	#searchWrapper {
		display: flex;
		align-items: center;
		top: 0;
		gap: var(--space-5xs);
	}

	.button-wrapper {
		border-width: 1px;
		border-color: var(--foreground-4);
	}

	#filterWrapper {
		height: -webkit-fill-available;
		height: 100vh;
	}

	.filter-main {
		flex-grow:1;
		flex-shrink: 1;
		height: 100%;
	}

	#hideButton {
		right: var(--space-xs);
		top: var(--space-xs);
		/* align-self: right; */
		height: 42px;
		position: fixed;
		& svg {
			height: 42px;
		}
	}

	h2 {
		margin-block: var(--space-l) var(--space-m);
	}

	.button-wrapper {
		bottom: 0;
		/* bottom: env(safe-area-inset-bottom); */
		position: fixed;
		border-top-style: solid;
		padding: var(--space-xs);
		width: 100%;
		background-color: var(--background);
	}


}


/* Filter sections*/

#filterWrapper {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

/* Set vertical padding for filter sections */
.wrap-collapsible {
	padding-block: var(--space-5xs);
	border-bottom: 1px solid var(--foreground-5);
	&:first-of-type {
		border-top: 1px solid var(--foreground-5);
	}
}


.credits {
	padding-block-start: var(--space-l);
	display: flex;
	flex-grow: 1;
/*	height: 100%;*/
	.text {
		display: inline-block;
		align-self: flex-end;
	}
}

@media only screen and (max-width: 1112px) {
	.credits {
			padding-block-start: var(--space-m);
			padding-block-end: calc(calc(48px + calc(var(--space-xs) * 2)) + var(--space-m ));
	}
}

/* Add top border for 1st section on desktop */
/* @media only screen and (min-width: 1112px) {
	.header + .wrap-collapsible {
		border-top: 1px solid;
		border-color: var(--foreground-5);
	}
} */

/* Set L + R margins for filter sections */
/* @media only screen and (max-width: 1112px) {
	.wrap-collapsible, .credits {
		margin-inline: var(--space-s-l);
	}
} */







input.toggle[type='checkbox'] {
  display: none;
}

.lbl-toggle {
	font-weight: 500;
	font-size: var(--step-0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--space-xs) 0;

  cursor: pointer;

  /* transition: all 0.25s ease-out; */
  position: relative;

  & svg {
  	/* width: 17px;
  	height: 17px; */
	width: 1em;
  	height: 1em;
	stroke-width: 2.75px;
  }
}

@media only screen and (max-width: 1112px) {
	.lbl-toggle {
/*		justify-content: left;*/
		/* padding: var(--space-5xs) 0; */
		gap: 0.25em;
		& svg {
	  	/* width: 18px;
	  	height: 18px; */
	  	margin-inline-end: 0.15rem;
		display: none;
	  }
	}
}

.toggle:checked + .lbl-toggle svg {
  transform: rotate(180deg);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .collapsible-content {
  /* max-height: 100vh; */
  /* max-height: 600px; */
  /* max-height: 40ch; */
  max-height: min-content;
  overflow: auto;
  padding-block-end: var(--space-xs);
}

.credits {
	font-size: var(--step--1);
	color: var(--foreground-2);
	& a {
		text-decoration: underline;
	}
}

@media only screen and (max-width: 1112px) {
	.credits {
		font-size: var(--step-0);
	}
	.lbl-toggle {
/*		font-size: var(--step-2)!important;*/
	}
}

button {
	cursor: pointer;
}

button:not(.plain) {
	background-color: var(--foreground);
	color: var(--background);
	border-radius: 10rem;
	text-align: center;
	border: none;
	width: 100%;
	height: 48px;
	font-weight: 500;
	transition: 0.3s;
}

@media (any-hover: hover) {
	button:not(.plain):hover {
		background-color: rgba(var(--foreground-value), 0.95);
	}
}

button.plain {
	background-color: transparent;
	color: var(--foreground);
	border: none;
	padding: 0.25em 0;
	font-weight: 400;
}


/*	Mobile menu toggle */

.navButton {
/*	height: 42px;*/

	/*& svg {
		padding: var(--space-4xs) 0 var(--space-4xs) calc(var(--space-4xs) * 2);
		height: 42px;
	}*/

	&#showButton {
		display: block;
		height: 42px;
		height: 42px;
		& svg {
			padding: var(--space-4xs) 0 var(--space-4xs) calc(var(--space-4xs) * 2);
			height: 42px;
		}
	}

	&#hideButton {
		display: none;
		/* height: 46px;
		width: 46px; */
		& svg {
			padding: var(--space-4xs) 0 var(--space-4xs) calc(var(--space-4xs) * 2);
			padding: 0;
			/* height: 46px; */
		}
	}
}


/* Set mobile styles */

@media only screen and (max-width: 1112px) {
	nav {
		height: auto;
		width: 100%;
		z-index: 100;
	}
	.search {
		flex: 1;
		height: 42px;
	}
	#filterWrapper {
		margin-block-start: 0;
		height: -webkit-fill-available;
	}
}


/* Set visibility for mobile */

@media only screen and (max-width: 1112px) {
	h1 {
		display: none !important;
	}
	#filterWrapper {
		display: none;
	}
	.navButton#showButton, .navButton#hideButton, .button-wrapper {
		display: block;
	}
	#searchWrapper h3 {
		display: none;
	}
	h2 {
		display: block;
	}
}

/* Set default visibility for desktop */

@media only screen and (min-width: 1112px) {
	#filterWrapper {
		display: flex !important;
	}
	.navButton#showButton, .navButton#hideButton, .button-wrapper {
		display: none!important;
	}
	h2 {
		display: none!important;;
	}
	#searchWrapper {
		display: block!important;
	}
}



@media only screen and (max-width: 1112px) {
	.wrap-collapsible {
		padding-block: var(--space-2xs);
		&:first-of-type {
			border-top: none;
		}
	}
	.lbl-toggle {
		padding: var(--space-s) 0;
	}
	h2 {
		margin-block: var(--space-l) var(--space-3xs);
	}
}