/*----------------------------------------------------*/
/*  Import fonts                                      */
/*----------------------------------------------------*/

/*	Matter */

@font-face {
  font-family: 'Matter';
  src:  url('../fonts/Matter-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
  font-family: 'Matter';
  src:  url('../fonts/Matter-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
}

/* Cooper */

@font-face {
  font-family: 'Cooper';
  src:  url('../fonts/CooperBTLight.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}


/*----------------------------------------------------*/
/*  Spacing variables                                 */
/*----------------------------------------------------*/


:root {

	/*	Spacing */
	--space-0: 0px;
	--space-px: 1px;
	--space-0-5: 0.125rem; /* 2px */
	--space-1: 0.25rem;    /* 4px */
	--space-1-5: 0.375rem; /* 6px */
	--space-2: 0.5rem;     /* 8px */
	--space-2-5: 0.625rem; /* 10px */
	--space-3: 0.75rem;    /* 12px */
	--space-3-5: 0.875rem; /* 14px */
	--space-4: 1rem;       /* 16px */
	--space-5: 1.25rem;    /* 20px */
	--space-6: 1.5rem;     /* 24px */
	--space-7: 1.75rem;    /* 28px */
	--space-8: 2rem;       /* 32px */
	--space-9: 2.25rem;    /* 36px */
	--space-10: 2.5rem;    /* 40px */
	--space-12: 3rem;      /* 48px */
	--space-11: 3.25rem;   /* 52px */
	--space-14: 3.5rem;    /* 56px */

}


/*----------------------------------------------------*/
/*  Typography variables                              */
/*----------------------------------------------------*/

:root {

	/*	Font stacks */
	--fallback: -apple-system, BlinkMacSystemFont, 'Inter', "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--sans: 'Matter', var(--fallback);
	--display: 'Cooper', var(--fallback);

	--bold: 600;
	--medium: 500;
	--regular: 400;
	--light: 300;

	/*	Font size */
	--size-body: 1rem;
/*	--size-large: 1.425rem;*/
	--size-medium: 0.96rem;
	--size-small: 0.85rem;

}



/*----------------------------------------------------*/
/*  Color variables                                   */
/*----------------------------------------------------*/

:root {

	color-scheme: light dark;

	/*	Core color values */
	--core-black-value: 91, 66, 43;
/*	--core-black-value: 38, 38, 38;*/
/*	--core-white-value: 236, 231, 219;*/
	--core-white-value: 240, 235, 224;

	/*	Type color values */
	--type-red-value: 255, 166, 138;
	--type-white-value: 227, 218, 186;
	--type-rose-value: 255, 185, 185;
	--type-orange-value: 243, 206, 134;
	--type-sparkling-value: 168, 207, 224;
	--type-piquette-value: 212, 188, 232;
	--type-co-fermented-value: 164, 219, 173;

	/*	Tag background colors */
	--tag-red: rgb(var(--type-red-value));
	--tag-white: rgb(var(--type-white-value));
	--tag-rose: rgb(var(--type-rose-value));
	--tag-orange: rgb(var(--type-orange-value));
	--tag-sparkling: rgb(var(--type-sparkling-value));
	--tag-piquette: rgb(var(--type-piquette-value));
	--tag-co-fermented: rgb(var(--type-co-fermented-value));

	/*	Tag background hover colors */
	--tag-red-hover: rgba(var(--type-red-value), 0.5);
	--tag-white-hover: rgba(var(--type-white-value), 0.5);
	--tag-rose-hover: rgba(var(--type-rose-value), 0.5);
	--tag-orange-hover: rgba(var(--type-orange-value), 0.5);
	--tag-sparkling-hover: rgba(var(--type-sparkling-value), 0.5);
	--tag-piquette-hover: rgba(var(--type-piquette-value), 0.5);
	--tag-co-fermented-hover: rgba(var(--type-co-fermented-value), 0.5);

}


/* Light color scheme */

@media screen and (prefers-color-scheme: light) {

	:root {

		/*	Core color values */
		--background-value: var(--core-white-value);
		--foreground-value: var(--core-black-value);

		/*	Core colors */
		--background: rgb(var(--background-value));
		--foreground: rgb(var(--foreground-value));
		--foreground-2: rgba(var(--foreground-value), 0.7);
		--foreground-3: rgba(var(--foreground-value), 0.4);
		--foreground-4: rgba(var(--foreground-value), 0.2);
		--foreground-5: rgba(var(--foreground-value), 0.1);
		--foreground-6: rgba(var(--foreground-value), 0.08);

		/*	Other colors */
		--type-text: var(--foreground);
		--image-background: rgb(245 243 237);
		/* --image-background: var(--foreground-6); */
		/* --image-background: #fff; */
		--wine-svg: var(--foreground-4);
		--shadow: rgba(55, 45, 36, 0.2);

		/*	SVG elements */
		--x-mark: url('/assets/svgs/x-mark-outline-light.svg');

	}

}

/* Dark color scheme */

@media screen and (prefers-color-scheme: dark) {

	:root {

		/*	Core color values */
		--core-black-value: 43, 40, 37;
		--background-value: var(--core-black-value);
		--foreground-value: var(--core-white-value);

		/*	Core colors */
		--background: rgb(var(--background-value));
		--foreground: rgb(var(--foreground-value));
		--foreground-2: rgba(var(--foreground-value), 0.6);
		--foreground-3: rgba(var(--foreground-value), 0.3);
		--foreground-4: rgba(var(--foreground-value), 0.2);
		--foreground-5: rgba(var(--foreground-value), 0.08);
		--foreground-6: rgba(var(--foreground-value), 0.05);

		/*	Other colors */
		--type-text: var(--background);
		/* --image-background: var(--foreground-6); */
		--image-background: var(--foreground);
		--wine-svg: var(--foreground-4);
		--shadow: rgba(0, 0, 0, 0.3);

		/*	SVG elements */
		--x-mark: url('/assets/svgs/x-mark-outline-dark.svg');

	}

}