.textInput {
	padding: var(--space-3xs) var(--space-xs) var(--space-3xs) var(--space-xs);
	border-radius: 0.5rem;
	width: 98%;
	color: var(--foreground);
	
	border-radius: 100px;

	outline: 0;
	appearance: none;
	-webkit-appearance: none;

	background-color: var(--foreground-6);
	border: none;

	&::placeholder {
		opacity: 1;
		color: var(--foreground-2);
	}
}

@media (any-hover: hover) {
	.textInput {
		transition-duration: 0.3s;
		transition-property: background-color;
		&:hover, &:focus {
			background-color: var(--foreground-5);
		}
	}
}

@media only screen and (max-width: 1112px) {
	.textInput {
		padding: var(--space-xs) var(--space-s) var(--space-xs) var(--space-s);
		width: 100%;
	}
}

/* Search */

.search {
	background-image: var(--search);
	background-position-y: center;
	background-position-x: 12px;
	background-repeat: no-repeat;
	padding-inline-start: 40px;
}

.search::-webkit-search-cancel-button{
	position: relative;
	right: -0.25rem;
	-webkit-appearance: none;
	height: 1.25rem;
	width: 1.25rem;
	cursor: pointer;
	transition: 0.1s;
	background-image: var(--x-mark);
}